<!DOCTYPE html>
<html>
  <head>
    <title>JobHunter's Choice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="google-site-verification" content="Fv8jXkiSXL_D0yPFEuTNP5gpFULFJln_WMuj2M-gm5o" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="twitter:card" content="summary"></meta>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
