<!DOCTYPE html>
<html>
  <head>
    <title>JobHunter's Choice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
    <meta name="google-site-verification" content="Fv8jXkiSXL_D0yPFEuTNP5gpFULFJln_WMuj2M-gm5o" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="twitter:card" content="summary_large_image" />
    <!-- <meta name="twitter:site" content="@ユーザー名" /> -->
    <meta property="twitter:url" content="https://jobhunters-choice.com" />
    <meta property="twitter:title" content="JobHunter's Choice" />
    <meta property="twitter:description" content="複数の求人で迷っているジョブハンターのみなさんへ。その決断を後押しします。" />
    <meta property="twitter:image" content="<%= asset_url('toppage_graphs.png') %>" />
    <link rel="index" href="http://jobhunters-choice.com/" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
